/* css variables*/
:root {
    --primary: rgb(253, 250, 250);
    --dark: rgb(172, 5, 5);
    --light:rgb(247, 82, 82);
    /*--shadow: 0 1px 5px rgba(48, 46, 46, 0.9);*/
    --hover :rgb(31, 30, 30);
    --white: #fff;
    --overlay:rgba(34, 33, 33, 0.8);
    --black: #000;
}
html{
    box-sizing: border-box;
    font-family: 'Raleway' , sans-serif;
    margin:0;
    padding:0;
}
body {
    background: var(--primary);
    line-height: 1.6em;
    color: var(--black);
    margin: 0;
}

 h1 {
     text-align: center;
 }
.btn {
    padding: .6rem 1.3rem;
    color: var(--white);
    background: var(--dark);
    text-decoration: none;
    border: 0;
    border-radius: 30px;

}
.btn:hover {
    background: var(--hover);
    color: var(--white);
}
.symbol {
    color: var(--dark);
}
#myProgress {
  position: relative;
  width: 100%;
  height: 35px;
  background-color: #ddd;
  border-radius: 30px;
}

#myBar {
  position: absolute;
  width: 70%;
  height: 100%;
  background-color: var(--dark);
  border-radius: 30px;
}

#label {
    text-align: center;
    line-height: 30px;
    color: white;
    font-size: 1.4rem;
  }
img {
   max-width: 100%;
}
.wrapper {
    display: grid;
}

.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0 2px;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    background: var(--dark);
}
.main-nav a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
    padding: .8rem;
    text-align: center;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}
.main-nav a:hover {
    background: var(--hover);
    color: var(--primary);
}

/* top container */
.top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    'showcase showcase showcase'
    'showcase showcase showcase';
    margin: 0;
}

/* Showcase */


.showcase {
    grid-area: showcase;
    min-height: 400px;
    background:var(--black);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
    text-align: center;

  }
.showcase h1 {
    color: var(--white);
    font-size: 4rem;
    margin-bottom: 0;
    text-align: center;
}
.showcase p{
    color: var(--white);
    font-size: 1.3rem;
    margin-bottom: 0;
    padding-bottom: 20px;
}
.showcase .social a{
    padding: 10px;
    color: var(--white);
}
/* Fontawesomes */

.fa-bold {
    color: rgb(12, 12, 83);
}
.fa-css3{
    color: #2163af;
}
.fa-facebook-square {
    color: var(--dark);
}
.fa-github {
    color: var(--dark);
}
.fa-html5 {
    color: red;
}
.fa-facebook-square:hover {
    color: var(--white);
}
.fa-github:hover {
    color: var(--white);
}
/* Technologies */

.boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
}
/* About Me */
.about {
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.about img {
    border-radius: 50%;
}
.about p {
    text-align: center;
}
.about i {
    color: var(--dark);
}

.box {
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 3rem;
    box-shadow: var(--shadow);
}

/* Works */
.info {
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
}
.info img {
    border-radius: 20px;
}

/* Footer */
footer {
    background: var(--dark);
    text-align: center;
    box-shadow: var(--shadow);
    color: var(--white);
  
}

@media(max-width: 700px) {
    .top-container {
        grid-template-areas: 
        'showcase';
    }
    .showcase h1 {
        font-size: 1.63rem;
    }
    .info {
        grid-template-columns: 1fr;
        justify-content: center;
        align-content: center;
    }
    .info img {
       align-items: center;
    }
    
    .about {
        grid-template-columns: 1fr;
        justify-content: center;
        align-content: center;
    }
    .info .btn {
        display: block;
        text-align: center;
        margin: auto;
    }
    .boxes {
        grid-template-columns: 1fr;
        justify-content: center;
        align-content: center;
      }
}
@media(max-width: 321px) {
    .top-container{
        grid-template-areas: 
        'showcase';
    }
    
    .about {
        grid-template-columns: 1fr;
    }
    .info {
        grid-template-columns: 1fr;
    }
    .info .btn {
        display: block;
        text-align: center;
        margin: auto;
    }
    .info a {
    	font-size: 1.1rem;
    }
    
.boxes {
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
  }
  p {
  	font-size: 1rem;
  	line-height: 1.6em;
  }
  .main-nav ul {
    display: grid;
    grid-gap: 2px;
    padding: 0 2px;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
}
.main-nav a {
    background: var(--dark);
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
    padding: .3rem;
    text-align: center;
    font-size: .9rem;
    box-shadow: var(--shadow);
}
}

